:root {
    --primary:#000000;
    --secondary:#838383;
    --tetriary:#cff5e5;
    --light: #ecddb3;
    --buttons: #e7e7e7;
}

body {
    background-color: var(--secondary);
}

* {
    margin: 0;
    padding: 0;
}

/* Header */
header {
    text-align:center;
}

/* Header h1 */
header h1 {
    color: var(--tetriary);
    font-size: 64pt;
    -webkit-text-stroke: 2px var(--primary);
}

/* Class container */
.container, .begin, .grade {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 20vh 25% 20vh 25%;
    height: 40vh;
    background-color: var(--tetriary);
    border: solid var(--primary) 2px;
    border-radius: 5px;
}

/* Class status (first box in container) */
.status {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-radius: 5px;
}

/* ID timer (first box first item) and Score (first box second item) */
#timer, #score {
    margin: 1%;
    text-align: center;
    border-bottom: solid var(--primary);
}

/* class multiple-choice (form) (second box in container) */
.multiple-choice {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

/* The Question */
.multiple-choice h1 {
    font-size: 22pt;
}

/* Class option (all options) */
#options {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}

/* ID option (each option) */
#options button {
    border-radius: 4px;
    width: 40%;
    padding: 5px;
    border-color: var(--primary);
    background-color: var(--buttons);
}

#options button:hover {
    cursor: pointer;
    background-color: var(--light);
}

/* he Results */
.multiple-choice h2 {
    margin: 10px;
    font-size: 16pt;
}

/* Added the begin and grade quiz boxes */

/* Instruction and Final Score Title */
.begin h1, .grade h1 {
    font-size: xx-large;
}

/* Score Font and Final Box */
.grade h2 {
    font-size: x-large;
}

/* Instructions paragraph */
.begin p {
    font-size: large;
}

/* Start Button */
.begin form button {
    background-color: var(--buttons);
    height: 50px;
    width: 100px;
    border-radius: 5px;
    font-size: larger;
}

/* Start Button and Save Button Hover */
.begin form button:hover, .grade form button:hover {
    cursor: pointer;
}

/* Initial input and save button stacked vertical */
.grade form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Size and etc. for the Input Initials */
.grade form input {
    height: 25px;
    width: 100px;
    text-align: center;
}

/* Save button CSS */
.grade form button {
    background-color: var(--buttons);
    height: 25px;
    width: 50px;
    margin: 5px;
    border-radius: 5px;
}